body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  background-color: #fefaf0;
}

/* Navigation Part */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 15px;
  background-color: #fec776;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 10; */
  margin-bottom: 5px;
}
.Logo-Name {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #343333d7;
  flex-wrap: wrap;
}

.Logo-Name > img {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
.Logo-Name > span {
  font-size: 25px;
  font-weight: bold;
  color: #a74944d0;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 10px;
  flex-wrap: wrap;
}

.nav-link {
  font-size: 22px;
  text-decoration: none;
  color: #343433d7;
  transition: 0.5s ease;
}

.nav-link:hover,
.nav-link.active {
  color: red;
  background-color: rgb(236, 172, 109);
  border-radius: 20px;
  padding: 5px;
}
#Size {
  font-size: 20px;
}

/* @media (max-width: 575.98px) {
  .Logo-Name {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
  }
  .Logo-Name > span {
    font-size: 10px;
  }
  .Logo-Name > img {
    height: 50px;
    width: 50px;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 5px;
  }
  
  .nav-link {
    font-size: 10px;
  }

}
 */


 @media (max-width: 600.98px) {

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Logo-Name {
    justify-content: center;
    margin-top: 10px;
  }

  .Logo-Name > span {
    font-size: 16px;
  }

  .Logo-Name > img {
    height: 50px;
    width: 50px;
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
    align-items: center;
  }

  .nav-link {
    font-size: 14px;
    width: 90%;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
  }
}